
@{
    ViewData["Title"] = "Home Page";
}


<div>
    <h2>Contract Object</h2>
    <ul>
        <li><a asp-controller="ContractObject" asp-action="Index">List all contract objects</a></li>
        <li><a asp-controller="ContractObject" asp-action="Index">List all contract objects</a></li>
    </ul>
</div>