@model Syngio

<h1>Search Instrument IQX Readiness</h1>


<form method="post" asp-controller="Syngio" asp-action="SearchPost">

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Serial Number</label>
        <div class="col-sm-6">
            <input class="form-control" type="text" asp-for="SerialNumber" placeholder="i.e. 987654321" />
        </div>
    </div>

    <div class="row mt-5 mb-lg-5">
        <div class="col-sm-1"></div>
        <button type="submit" class="btn btn-primary col-sm-2">Submit</button>
        <div class="col-sm-1"></div>
        <div class="btn btn-warning col-sm-1">
            <a asp-action="Search" role="button">Reset</a>
        </div>

        <div class="col-sm-2"></div>
    </div>
</form>

@if (Model != null && !string.IsNullOrEmpty(Model.SerialNumber))
{
    <partial name="SyngioDetailsPartial" model="Model"></partial>
    <partial name="SyngioTextPartial" model="Model"></partial>
}