@model InstrumentLinkStatus
@{
    ViewData["Title"] = "View Contract Object";
    ViewData["DisplayMode"] = "View";
}

<div class="row mb-3">
    <h3>Instrument Link Status</h3>
</div>
<div class="row mb-3">
    <div class="col-2">
        <label class="col-form-label">Serial No.</label>
    </div>
    <div class="col-3">
        <input class="form-control" type="text" asp-for="SerialNumber"/>
    </div>
    <div class="col-2">
        <label class="col-form-label">Contract</label>
    </div>
    <div class="col-3">
        <input class="form-control" type="text" asp-for="ContractNumber" />
    </div>
</div>
<div class="row mb-3">
    <div class="col-2">
        <label class="col-form-label">IQX System</label>
    </div>
    <div class="col-3">
        <input class="form-control" type="text" asp-for="System" />
    </div>

    <div class="col-2">
        <label class="col-form-label">IQX Network</label>
    </div>
    <div class="col-4">
        <input class="form-control" type="text" asp-for="NetworkName" />
    </div>
</div>

<div class="row mb-3">
    <div class="col-2">
        <label class="col-form-label">Account No.</label>
    </div>
    <div class="col-3">
        <input class="form-control" type="text" asp-for="AccountNumber" />
    </div>

    <div class="col-2">
        <label class="col-form-label">GEIS</label>
    </div>
    <div class="col-4">
        <input class="form-control" type="text" asp-for="LinkedAccount" />
    </div>
</div>

<div class="row mb-3">

    <div class="col-2">
        <label class="col-form-label">Instrument Type</label>
    </div>
    <div class="col-3">
        <input class="form-control" type="text" asp-for="InstrumentType" />
    </div>

    <div class="col-2">
        <label class="col-form-label">Link Status</label>
    </div>
    <div class="col-4">
        <input class="form-control" type="text" asp-for="StatusFlag" />
    </div>
</div>