@model List<EqoContractObject>
@{

    int itemCount = 0;
}

<h1>All Contract Objects</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Contract Number</th>
            <th scope="col">Contract Description</th>
            <th scope="col">Serial Number</th>
            <th scope="col">Instrument Type</th>
            <th scope="col">ShipTo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (EqoContractObject obj in Model)
        {
            { itemCount++; }
            <tr>
                <td scope="row">@itemCount</td>
                @await Html.PartialAsync("ContractObjSingleLinePartial", obj);
            </tr>
        }
    </tbody>
</table>