@model List<Vinlks>
@{

    int itemCount = 0;
}

<h1 class="text-center">All Contract Objects</h1>
<table class="table">
    <thead class="position-sticky">
        <tr>
            <th scope="col">#</th>
            <th class="col-2" scope="col">Network &amp; Serial Number</th>
            <th scope="col">Contract Number</th>
            <th scope="col">Contract Description</th>
            <th scope="col">Instrument Type</th>
            <th scope="col">ShipTo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Vinlks obj in Model)
        {
            { itemCount++; }
            <tr>
                <td scope="row">@itemCount</td>
                @await Html.PartialAsync("ContractObjSingleLinePartial", obj)

            </tr>
        }
    </tbody>
</table>