@model EqoContractObject
@{
    ViewData["Title"] = "New Contract Object";
}

<h1 class="text-center">Create New Contract Object</h1>
<div class="row justify-content-center">
    <div class="col-10">
        <form class="needs-validation" method="post" asp-controller="ContractObject" asp-action="New" novalidate>
            <partial name="ContractObjFormPartial" model="Model" />
            <partial name="FormSubmitButtonsPartial" />
        </form>
    </div>
</div>

@section Scripts{
    <script src="~/js/contractobj/autocomplete.js" asp-append-version="true"></script>
}