@model EqoContractObject
@{
    ViewData["Title"] = "New Contract Object";
}

<form method="post" asp-controller="ContractObject" asp-action="New">

    <div class="row mb-3">
        <div class="col-sm-1"></div>
        <h3 class="col-sm-8">Contract</h3>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Contract Number</label>
        <div class="col-sm-3">
            <input id="inpContract" class="form-control" type="text" asp-for="Contract.ContractNumber" placeholder="Enter Contract Number, i.e. 5432123" />
        </div>
    </div>


    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Contract Description</label>
        <div class="col-sm-10">
            <input id="inpCtrDescription"class="form-control" type="text" asp-for="Contract.Description" placeholder="Say something to describe contract" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Contract Starts</label>
        <div class="col-sm-10">
            <input id="inpCtrValidFrom" class="form-control" type="date" asp-for="Contract.ValidFrom" placeholder="Enter contract starts, i.e. 08/29/2025" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Contract Ends</label>
        <div class="col-sm-10">
            <input id="inpCtrValidTo" class="form-control" type="date" asp-for="Contract.ValidTo" placeholder="Enter contract end, i.e. 09/29/2026" />
        </div>
    </div>

    <div class="row mb-3 mt-5">
        <div class="col-sm-1"></div>
        <h3 class="col-sm-8">Instrument</h3>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Serial Number</label>
        <div class="col-sm-3">
            <input id="inpSerialNo" class="form-control" type="text" asp-for="SerialNumber" placeholder="Enter instrument S/N, i.e. 987654321" />
        </div>
        <button type="button" class="btn btn-outline-info col-sm-1">Verify</button>
    </div>


    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Instrument Type</label>
        <div class="col-sm-10">
            <input id="inpInstType" class="form-control" type="text" asp-for="InstrumentType" placeholder="Enter instrument Type, i.e. Base Unit NIRS DS DS2500" />
        </div>
    </div>

    <div class="row mb-3 mt-5">
        <div class="col-sm-1"></div>
        <h3 class="col-sm-8">Ship-To</h3>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Partner ID</label>
        <div class="col-sm-10">
            <input id="inpShpt" class="form-control" type="text" asp-for="ShipTo.PartnerId" placeholder="Enter partner account, i.e. 123456" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Partner Name</label>
        <div class="col-sm-10">
            <input id="inpShptPartnerName" class="form-control" type="text" asp-for="ShipTo.PartnerName" placeholder="Enter partner name, i.e. Foss Analaytical A/S" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Region</label>
        <div class="col-sm-10">
            <input id="inpShptRegion" class="form-control" type="text" asp-for="ShipTo.Region" placeholder="Enter region, i.e. Asia Pacific" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Country</label>
        <div class="col-sm-10">
            <input id="inpShptCountry" class="form-control" type="text" asp-for="ShipTo.Country" placeholder="Enter country, i.e. Japan" />
        </div>
    </div>


    <div class="row mt-5 mb-lg-5">
        <div class="col-sm-1"></div>
        <button type="submit" class="btn btn-primary col-sm-2">Submit</button>
        <div class="col-sm-1"></div>
        <button type="reset" class="btn btn-warning col-sm-1">Reset</button>

        <div class="col-sm-2"></div>
    </div>
</form>


@section Scripts{
    <script>

        setInputEvent($('#inpContract'), checkContractNumber);
        setInputEvent($('#inpShpt'), checkShiptoAccount);

        function setInputEvent(inputElement, checkObj)
        {
            let debounceTimer;
            inputElement.on('input', function() {

                clearTimeout(debounceTimer);

                const identifier = $(this).val().trim();


                if(identifier.length === 0) {
                    resetForm();
                    return;
                }

                debounceTimer = setTimeout(function() {
                    checkObj(identifier)
                }, 500);
            });
        }

        

        function formatDate(date)
        {
            if(!date) return;
            var d = new Date(date);
            const yyyy = d.getFullYear().toString().padStart(4, "0");
            const MM = (d.getMonth() + 1).toString().padStart(2, "0");
            const dd = d.getDate().toString().padStart(2, "0");
            return `${yyyy}-${MM}-${dd}`

        }

        function checkObj(identifier, fetchUrl, fillAction)
        {
            if(!identifier) return;
            fetch(fetchUrl)
                .then(response => response.json())
                .then(data => {
                    console.log('040 getting data.', data);
                    if(data){
                        console.log('050 data exists.');
                        fillAction(data);
                    }
                })
                .catch(e => {
                    console.error('Error:', e);
                })
        }

        function checkContractNumber(contractNumber)
        {

            checkObj(contractNumber, 
                '/ewkiqxobd/api/contract/' + encodeURIComponent(contractNumber),
                (data) => {
                    $('#inpCtrDescription').val(data.description);
                    $('#inpCtrValidFrom').val(formatDate(data.validFrom));
                    $('#inpCtrValidTo').val(formatDate(data.validTo));
                }
            );
        }

        function checkShiptoAccount(shiptoNo)
        {
            checkObj(shiptoNo,
                '/ewkiqxobd/api/account/' + encodeURIComponent(shiptoNo),
                (data) => {
                    $('#inpShptPartnerName').val(data.partnerName);
                    $('#inpShptRegion').val(data.region);
                    $('#inpShptCountry').val(data.country);
                }
            );
        }

    </script>
}