@model EqoContractObject
@{
    ViewData["Title"] = "View Contract Object";
}


<div class="row mt-3 mb-lg-5">
    <div class="col"></div>
    <div class="col-10">
        <partial name="ContractObjFormPartial" model="Model" />
        <partial name="ContractObjTextPartial" model="Model" />
    </div>
    <div class="col"></div>
</div>

@section Scripts {
    <script>
        const CurrentDisplayMode = @Html.Raw(Json.Serialize(ViewData["DisplayMode"] as string))
        console.log(CurrentDisplayMode);
        console.log(CurrentDisplayMode === "View");
        $("document").ready(
            () =>
            {
                console.log("This is supposed to change all props with input to disabled.");
                $("input").prop("disabled", true);
            }
        );
    </script>


    <script src="~/js/contractobj/copyToClipb.js" asp-append-version="true"></script>
}