@model IEnumerable<VwSysnetinstorg>
@{
    ViewData["Title"] = "Home";
}

<h1>E-Workspace FOSS IQX™ Onboarding & Other Tasks</h1>
<h2>IQX Onboarding Task</h2>
<div>
    <h3>Contract</h3>
    <ul>
        <li>
            <a asp-controller="Contract" asp-action="Index">View Contracts</a>
        </li>
        <li>
            <a asp-controller="Contract" asp-action="SingleRead">Search Contracts</a>
        </li>
    </ul>
</div>

<div>
    <h3>Contract Objects</h3>
    <ul>

        <li>
            <a asp-controller="ContractObject" asp-action="New">New Contract Object</a>
        </li>
        <li>
            <a asp-controller="ContractObject" asp-action="Index">View Contract Objects</a>
        </li>
        <li>
            <a asp-controller="ContractObject" asp-action="Search">Search for Contract Objects</a>
        </li>
    </ul>
</div>

<div>
    <h3>Network</h3>
    <ul>
        <li>
            <a asp-controller="Network" asp-action="Index">View instrument & their networks</a>
        </li>
    </ul>
</div>

<div>
    <h3>System, Network, &amp; Instruments</h3>
    <ul>
        <li>
            <a asp-controller="Sysnetinst" asp-action="Index">View systems, networks, and instruments</a>
        </li>
        <li>
            <a asp-controller="Sysnetinst" asp-action="Search">Search by instrument SN</a>
        </li>
    </ul>
</div>

<div>
    <h3>Tickets (SAP CRM &amp; Salesforce, etc.)</h3>
    <ul>
        <li>
            <a asp-controller="TicketSource" asp-action="Index">View All Tickets</a>
        </li>
    </ul>
</div>

<div>
    <h3>FossConnect™ Enterprise</h3>
    <ul>
        <li>
            <a asp-controller="EnterpriseInstance" asp-action="Index">View All Systems</a>
        </li>
        <li>
            <a asp-controller="EnterpriseInstance" asp-action="Create">Create</a>
        </li>
    </ul>
</div>