@model IEnumerable<vwSysnetinstorg>
@{
    ViewData["Title"] = "Home";
}

<h1>E-Workspace FOSS IQX™ Onboarding & Other Tasks</h1>
<h2>IQX Onboarding Task</h2>
<div>
    <h3>Contract</h3>
    <ul>
        <li>
            <a asp-controller="Contract" asp-action="Index">View Contracts</a>
        </li>
        <li>
            <a asp-controller="Contract" asp-action="SingleRead">Search Contracts</a>
        </li>
    </ul>
</div>

<div>
    <h3>Contract Objects</h3>
    <ul>
        <li>
            <a asp-controller="ContractObject" asp-action="Index">View Contract Objects</a>
        </li>
        <li>
            <a asp-controller="ContractObject" asp-action="New">New Contract Object</a>
        </li>
    </ul>
</div>

<div>
    <h3>Network</h3>
    <ul>
        <li>
            <a asp-controller="Network" asp-action="Index">View instrument & their networks</a>
        </li>
    </ul>
</div>