@model IEnumerable<Syngio>
@{
    ViewData["Title"] = "Home";
}

<h1 class="text-center">Digital Workspace <br /> FOSS IQX™ Onboarding v1.11.00</h1>


<div class="row justify-content-evenly mt-3">
    <div class="col-5">
        <div class="card w-100 g-3">
            <img src="~/images/business-contract_960_720.jpg" class="card-img-top" alt="Bussine Contract Signed" />
            <div class="card-body">
                <h3 class="card-title">Contract Objects</h3>
                <p class="card-text">
                    A contrat object represents a combination between a contract and an object (or an Instrument), which is bind to an account.
                    The contract object enables IQX to be active for accounts.
                </p>

                <a class="btn btn-outline-primary w-100 mb-2" asp-controller="ContractObject" asp-action="New">
                    <div class="row">
                        <div class="col-1">

                            <i class="fa fa-solid fa-square-plus fa-xl"></i>
                        </div>
                        <div class="col-10">
                            <span>Create</span>
                        </div>
                    </div>
                </a>
                <a class="btn btn-outline-success w-100 mb-2" asp-controller="ContractObject" asp-action="Index">
                    <div class="row">
                        <div class="col-1">

                            <i class="fa fa-solid fa-list fa-xl"></i>
                        </div>
                        <div class="col-10">
                            <span>List All</span>
                        </div>
                    </div>
                </a>
                <a class="btn btn-outline-danger w-100 mb-2" asp-controller="ContractObject" asp-action="Search">
                    <div class="row">
                        <div class="col-1">

                            <i class="fa fa-solid fa-magnifying-glass fa-xl"></i>
                        </div>
                        <div class="col-10">
                            <span>Search</span>
                        </div>
                    </div>
                </a>
                <a class="btn btn-outline-primary w-100 mb-2" asp-controller="Contract" asp-action="Create">
                    <div class="row">
                        <div class="col-1">
                            <i class="fa fa-solid fa-square-plus fa-xl"></i>
                        </div>
                        <div class="col-10">
                            <span>Create Contract (work in progress)</span>
                        </div>
                    </div>
                </a>
                <a class="btn btn-outline-primary w-100 mb-2" asp-controller="EmailContact" asp-action="Index">
                    <div class="row">
                        <div class="col-1">
                            <i class="fa fa-solid fa-mail-bulk fa-xl"></i>
                        </div>
                        <div class="col-10">
                            <span>Email Contacts</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="col-5">
        <div class="card w-100 g-3">
            <img src="~/images/laptop-6087062_640.png" class="card-img-top" alt="Laptop Showing Business Logic" />
            <div class="card-body">
                <h3 class="card-title">Sys. Net. Grp. Inst. Org.</h3>
                <p class="card-text">
                    "System, Network, Group, Instrument, & Organisation"
                </p>
                <a class="btn btn-outline-success w-100 mb-3" asp-controller="Syngio" asp-action="Index">
                    <div class="row">
                        <div class="col-1">
                            <i class="fa fa-solid fa-chart-diagram fa-xl"></i>
                        </div>
                        <div class="col-10">
                            <span>Systems, Network, Instruments</span>
                        </div>
                    </div>
                </a>
                <a class="btn btn-outline-danger w-100 mb-3" asp-controller="Syngio" asp-action="Upload">
                    <div class="row">
                        <div class="col-1">
                            <i class="fa fa-solid fa-upload fa-xl"></i>
                        </div>
                        <div class="col-10">
                            <span>Upload Csv Files</span>
                        </div>
                    </div>
                </a>
                <a class="btn btn-outline-dark w-100 mb-3" asp-controller="Syngio" asp-action="Search">
                    <div class="row">
                        <div class="col-1">
                            <i class="fa fa-solid fa-search fa-xl"></i>
                        </div>
                        <div class="col-10">
                            <span>Search</span>
                        </div>
                    </div>
                </a>
                <a class="btn btn-outline-primary w-100 mb-3" asp-controller="Organization" asp-action="Index">
                    <div class="row">
                        <div class="col-1">
                            <i class="fa fa-solid fa-list fa-xl"></i>
                        </div>
                        <div class="col-10">
                            <span>List Organizations</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>

<div class="row justify-content-evenly mt-3">
    <div class="col-5">
        <div class="card w-100 g-3">
            <img src="~/images/business-discussion_640.jpg" class="card-img-top" alt="Bussine Discussion" />
            <div class="card-body">
                <h3 class="card-title">Ticket Handling</h3>
                <h5 class="card-subtitle">SAP CRM, Salesforce, etc.</h5>
                <p class="card-text">
                    The ticket related to the requests, contracts, & requirements.
                </p>

                <a class="btn btn-outline-success w-100 mb-3" asp-controller="TicketSource" asp-action="Index">List All</a>
                <a class="btn btn-outline-success w-100 mb-3" asp-controller="TaskWorkFlow" asp-action="Index">Manage Task Work Flow</a>
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="card w-100 g-3">
            <img src="~/images/logo-gunmetal-green-iqx.png" class="card-img-top" alt="Foss IQX Logo" />
            <div class="card-body">
                <h3 class="card-title">FossConnect™ Enterprise</h3>
                <h5 class="card-subtitle">SAP CRM, Salesforce, etc.</h5>
                <p class="card-text">
                    The ticket related to the requests, contracts, & requirements.
                </p>

                <a class="btn btn-primary w-100 mb-3" asp-controller="EnterpriseInstance" asp-action="Create">Create</a>
                <a class="btn btn-outline-success w-100 mb-3" asp-controller="EnterpriseInstance" asp-action="Index">List All</a>
            </div>
        </div>
    </div>
</div>