@using EwkQxObd.Core.Model.Views
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "E-work IQX Onboarding";
}
@model IEnumerable<vwSysnetinstorg>

<!DOCTYPE html>
<html>
    <head>
        <title>@ViewData["Title"]</title>
    </head>
<body>
    <h1>E-Workspace FOSS IQX™ Onboarding & Other Tasks</h1>
    <h2>IQX Onboarding Tasks</h2>
    <div>
        <ul>
            <a asp-controller="Contract" asp-action="Index">View Contracts</a>
            <a asp-controller="Contract" asp-action="SingleRead">Search Contracts</a>
        </ul>
    </div>
</body>
</html>