@{
    ViewData["Title"] = "Sys.Net.Inst";
}

@model GrouppedVwSysnetinstorg

<h2>System, Network, &amp; Instrument</h2>

<div id="sysnetinst" class="accordion">
    @foreach (var system in Model.Systems!)
    {
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#@system.SystemName">
                    @system.SystemName
                </button>
            </h2>
            <div id="@system.SystemName" class="accordion-collapse collapse" data-bs-parent="#sysnetinst">
                <div class="accordion-body">
                    This is where the networks should go.
                </div>
            </div>
        </div>
    }
</div>