@model List<EqoTicketSource>

@{

    int itemCount = 0;
}

<h1>All Tickets</h1>
<div class="container shadow p-3 mb-5 rounded">
    
    <a asp-controller="TicketSource" asp-action="Create">
        <i class="fa fa-solid fa-square-plus fa-xl"></i>
    </a>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ticket Number</th>
            <th scope="col">Description</th>
            <th scope="col">Requester</th>
            <th scope="col">Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (EqoTicketSource obj in Model)
        {
            { itemCount++; }
            <tr>
                <td scope="row">@itemCount</td>
                @await Html.PartialAsync("TicketSourceSingleLinePartial", obj)
            </tr>
        }
    </tbody>
</table>