@model List<EqoTicketSource>

@{

    int itemCount = 0;
}

<h1>All Tickets</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ticket Number</th>
            <th scope="col">Description</th>
            <th scope="col">Requester</th>
            <th scope="col">Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (EqoTicketSource obj in Model)
        {
            { itemCount++; }
            <tr>
                <td scope="row">@itemCount</td>
                @await Html.PartialAsync("TicketSourceSingleLinePartial", obj)
            </tr>
        }
    </tbody>
</table>