@model EqoAccount

<div class="row mb-3">
    <div class="col-sm-2">
        <label class="form-label">Partner ID</label>
    </div>
    <div class="col-sm-5">
        <input id="inpShpt" class="form-control" type="text" asp-for="PartnerId" placeholder="Enter partner account, i.e. 123456" />
    </div>
</div>

<div class="row mb-3">
    <div class="col-sm-2">
        <label class="form-label">Partner Name</label>
    </div>

    <div class="col-sm-5">
        <input id="inpShptPartnerName" class="form-control" type="text" asp-for="PartnerName" placeholder="Enter partner name, i.e. Foss Analaytical A/S" />
    </div>
</div>

<div class="row mb-3">
    <div class="col-sm-2">
        <label class="form-label">Region</label>
    </div>
    <div class="col-sm-5">
        <input id="inpShptRegion" class="form-control" type="text" asp-for="Region" placeholder="Enter region, i.e. Asia Pacific" />
    </div>
</div>
<div class="row mb-3">
    <div class="col-sm-2">
        <label class="form-label">Country</label>
    </div>
    <div class="col-sm-5">
        <input id="inpShptCountry" class="form-control" type="text" asp-for="Country" placeholder="Enter country, i.e. Japan" />
    </div>
</div>
