@model EqoContractObject

@{
    if (Model is null)
    {
        ViewData["DisplayMode"] = "Edit";
    }
    else
    {
        ViewData["DisplayMode"] = "View";
    }
}

<form method="post" asp-controller="ContractObject" asp-action="New">

    <div class="row mb-3">
        <h3 class="col-sm-8">IQX Contract</h3>
    </div>

    <partial name="ContractFormPartial" for="Contract"/>

    <div class="row mb-3 mt-5">
        <div class="col-sm-1"></div>
        <h3 class="col-sm-8">Instrument</h3>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Serial Number</label>
        <div class="col-sm-3">
            <input id="inpSerialNo" class="form-control" type="text" asp-for="SerialNumber" placeholder="Enter instrument S/N, i.e. 987654321" />
        </div>
    </div>


    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Instrument Type</label>
        <div class="col-sm-10">
            <input id="inpInstType" class="form-control" type="text" asp-for="InstrumentType" placeholder="Enter instrument Type, i.e. Base Unit NIRS DS DS2500" />
        </div>
    </div>

    <div class="row mb-3 mt-5">
        <div class="col-sm-1"></div>
        <h3 class="col-sm-8">Ship-To</h3>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Partner ID</label>
        <div class="col-sm-10">
            <input id="inpShpt" class="form-control" type="text" asp-for="ShipTo.PartnerId" placeholder="Enter partner account, i.e. 123456" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Partner Name</label>
        <div class="col-sm-10">
            <input id="inpShptPartnerName" class="form-control" type="text" asp-for="ShipTo.PartnerName" placeholder="Enter partner name, i.e. Foss Analaytical A/S" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Region</label>
        <div class="col-sm-10">
            <input id="inpShptRegion" class="form-control" type="text" asp-for="ShipTo.Region" placeholder="Enter region, i.e. Asia Pacific" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Country</label>
        <div class="col-sm-10">
            <input id="inpShptCountry" class="form-control" type="text" asp-for="ShipTo.Country" placeholder="Enter country, i.e. Japan" />
        </div>
    </div>

    @if (ViewData["DisplayMode"] as string == "Edit")
    {
        <div class="row mt-5 mb-lg-5">
            <div class="col-sm-1"></div>
            <button type="submit" class="btn btn-primary col-sm-2">Submit</button>
            <div class="col-sm-1"></div>
            <button type="reset" class="btn btn-warning col-sm-1">Reset</button>

            <div class="col-sm-2"></div>
        </div>
    }
</form>
