@model EqoContract

@{
    DateTime timeRecorded = default;

    if (Model is null)
    {
        ViewData["DisplayMode"] = "Edit";
        timeRecorded = DateTime.Now;
    }
    else
    {
        ViewData["DisplayMode"] = "View";
        timeRecorded = Model.RecordedAt ?? default;
    }
}


<input class="form-control" type="hidden" asp-for="Id"  />
<div class="row mb-3">
    <div class="col-3">
        <label class="col-form-label">Contract Number</label>
    </div>
    <div class="col-4">
        <input id="inpContract" class="form-control" type="text" asp-for="ContractNumber" placeholder="Enter Ticket Number, i.e. 1000001234" />
    </div>
</div>
<div class="row mb-3">
    <div class="col-sm-3">
        <label class="col-form-label">Description</label>
    </div>
    <div class="col-sm-8">
        <input id="inpCtrDescription" class="form-control" type="text" asp-for="Description" placeholder="Ticket Description or Subject" />
    </div>
</div>


@{
    ViewBag.TagId = 1;
    ViewBag.Label = "Customer Contact";
}
<partial name="ContactInputPartial" for="CustomerContact"/>

@{
    ViewBag.TagId = 2;
    ViewBag.Label = "Employee Responsible";
}
<partial name="ContactInputPartial" for="EmployeeResponsible" />


<div class="row mb-3">
    <div class="col-sm-3">
        <label class="col-form-label">Valid For</label>
    </div>
    <div class="col-sm-2">
        <input id="inpCtrValidFrom" class="form-control" type="date" asp-for="ValidFrom" placeholder="Date starts, i.e. 08/29/2025" />
    </div>
    <div class="col-sm-2">
        <input id="inpCtrValidTo" class="form-control" type="date" asp-for="ValidTo" placeholder="Date ends, i.e. 09/29/2026" />
    </div>
</div>

<div class="row mb-3">
    <div class="col-sm-3">
        <label class="col-form-label">Recorded</label>
    </div>


    <div class="col-sm-3">
        <input id="inpTimeRecorded" class="form-control" type="datetime" asp-for="RecordedAt" value="@timeRecorded.ToString("yyyy-MM-dd HH:mm")" />
    </div>
</div>