@model FscEnterpriseInstance


<div class="row mb-3">
    <div class="col-sm-2">
        <label class="form-label">Server Address</label>
    </div>
    <div class="col-sm-4">
        <input class="form-control" type="text" asp-for="ServerAddress" placeholder="i.e. nirs.customer.co" />
    </div>
</div>

<div class="row mb-3">
    <label class="col-sm-2 col-form-label">Version</label>
    <div class="col-sm-3">
        <input class="form-control" type="text" asp-for="Version" placeholder="i.e. 8.11.12.23" />
    </div>
</div>

<div class="row mb-3">
    <label class="col-sm-2 col-form-label">Instance Name</label>
    <div class="col-sm-4">
        <input class="form-control" type="text" asp-for="InstanceName" placeholder="i.e. customer Group" />
    </div>
</div>

<div class="row mb-3">
    <label class="col-sm-2 col-form-label">TCP port</label>
    <div class="col-sm-2">
        <input class="form-control" type="text" asp-for="PortTcp" placeholder="i.e. 8001" />
    </div>
</div>

<div class="row mb-3">
    <label class="col-sm-2 col-form-label">HTTP port</label>
    <div class="col-sm-2">
        <input class="form-control" type="text" asp-for="PortHttp" placeholder="i.e. 80" />
    </div>
</div>

<div class="row mb-3">
    <label class="col-sm-2 col-form-label">HTTPS port</label>
    <div class="col-sm-2">
        <input class="form-control" type="text" asp-for="PortHttps" placeholder="i.e. 443" />
    </div>
</div>