@using EwkQxObd.WebApi.Models.Serialization

@model VwSysnetinstorg

<div class="row mb-3 mt-5">
    <h3 class="col-sm-8">Condensed Text</h3>
</div>

<div class="row mb-3 g-2">
    <div class="col-sm-2">
        <button id="btnCopy2clipB" type="button" class="btn btn-outline-primary">Copy to Clipboard</button>
    </div>
    <div class="col-sm">
        <button type="button" class="btn btn-outline-secondary col-sm g-2" disabled>work in progress</button>
    </div>
</div>

<textarea class="form-control" id="txaCondensedSngio" rows="24">
    @Html.Raw(Model.ToFlatText())
</textarea> 