@using EwkQxObd.Core.Model

@{
    ViewData["Title"] = "E-work IQX Onboarding";
}
@model EqoContract

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
    @Model
</body>
</html>