@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using EwkQxObd.Api.Authentication.ObjectModel
@{
}
@model AuthRequestBody

<div class="row justify-content-center">
    <div class="col-10">
        <h2> Login to IQX API</h2>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-10 g-3">
        <form asp-action="SendRequest">
            <div class="mb-3">
                <label for="userEmailInput" class="form-label">User Name</label>
                <input type="email" class="form-control" id="userEmailInput" asp-for="UserName" aria-describedby="emailHelp"/>
                <div id="emailHelp" class="form-text">Enter your user name here</div>
            </div>
            <div class="mb-lg-5">
                <label for="userPassInput" class="form-label">Password</label>
                <input type="password" class="form-control" id="userPassInput" asp-for="Password" />
            </div>
            <button type="submit" class="btn btn-primary w-25">Login</button>
            <a type="button" class="btn btn-warning w-25" asp-controller="Home" asp-action="Index">Cancel</a>
        </form>
    </div>
</div>